a, a:link, a:visited {
  color: $gray-600;
  transition: color 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    color: $gray-700;
    text-decoration: none;
  }

  &.active {
    color: $link-color;

    &:hover {
      color: darken($link-color, $hover-factor);
      text-decoration: none;
    }
  }
}
