// TEXT
$color-text-primary: #3A4DFC;
$color-text-primary-muted: #7780FF;
$color-text-primary-disabled: #BCC0FF;

$color-text-link: $color-text-primary;

$color-text-base: #303336;
$color-text-base-muted: #6C7984;
$color-text-base-label: $color-text-base-muted;
$color-text-base-disabled: #AFBCC7;
$color-text-base-placeholder: $color-text-base-disabled;


:export {
  colorTextPrimary: $color-text-primary;
  colorTextPrimaryMuted: $color-text-primary-muted;
  colorTextPrimaryDisabled: $color-text-primary-disabled;

  colorTextLink: $color-text-link;

  colorTextBase: $color-text-base;
  colorTextBaseMuted: $color-text-base-muted;
  colorTextBaseLabel: $color-text-base-label;
  colorTextBaseDisabled: $color-text-base-disabled;
  colorTextBasePlacehodler: $color-text-base-placeholder;
}
