@import "src/styles/global";

.main {

}

.Header {
  padding-top: 3rem;
  font-size: 12px;
  line-height: 1.5;
  font-family: $font-family-sans-serif-heading;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10rem;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.Title {
  .Description {
    font-size: 1rem;
    color: $gray-900;
    margin-bottom: 0.25rem;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 2rem;
  }
}
